body, html {
    margin: 0;
    padding: 0;
    height:100%;
    font-family: 'Lora', serif;
}

/*MAIN CONTAINER*/ 
h2.titles {
    font-family: 'Raleway', sans-serif;
    font-size: 2.7em;
    text-align: center;
    margin: 1.8em 0;
    text-transform: uppercase;
}

h2.titles:after {
    content: ' ';
    display: block;
    border: 2px solid #000103;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    width: 1em;
    margin: 0 auto;
    margin-top: .5em;
}
.highlight {
    color: #FF312E;
}

/* HOME */
div.home {
    position: relative;
}
#particles-js {
    background-color: #333138;
    height: 100%;
    width:100%;
}
div.homeIntro {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left:0;
    top:36%;
    width:100%;
    color: #FFFFFA;
    text-align: center;
    font-size: 1.5em;
} 
div.homeIntro h1{
    font-weight: 700;
    padding:0;
    margin:0;
    font-size: 2.5em;
}
div.homeIntro h2 {
    font-weight: 400;
    padding:0;
    margin:0;
}
div.homeIntro p{
    border: 2px solid white;
    width:16vw;
    margin: 1em auto 0 auto;
    padding: .5em 0;
    transition: background-color 0.5s, border 0.5s;
    -o-transition: background-color 0.5s, border 0.5s;
    -ms-transition: background-color 0.5s, border 0.5s;
    -moz-transition: background-color 0.5s, border 0.5s;
    -webkit-transition: background-color 0.5s, border 0.5s;   
}
div.homeIntro p:hover {
    background-color: #3E78B2;
    border: 2px solid #3E78B2;
    transition: .5s;
}
div.homeIntro i{
    -webkit-transition: transform .5s;
    -o-transition: transform .5s;
    -ms-transition: transform .5s;
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;
}
div.homeIntro p:hover i {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: transform .5s;
    -o-transition: transform .5s;
    -ms-transition: transform .5s;    
    -moz-transition: transform .5s;
    -webkit-transition: transform .5s;    
}

/* NAVIGATION */
nav.nav {
    padding: .8em 0 .8em 3.5em;
    font-family: 'Raleway',
    sans-serif;
    background-color: #000103;
    border-bottom: 3px solid #3E78B2;
}
nav.nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: #FFFFFA;
    padding: 0 1em;
    transition: color .8s;
}
nav.nav a:hover {
    color: #FF312E;
    transition: .45s;
}

/* CONTENT CONTAINER */
div.contentContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
}

/* ABOUT */
div.about {
    grid-column: 1 / -1;
    display:grid;
    grid-template-columns: inherit;
    margin-bottom: 5em;
}
div.about h2{
    grid-column: 1 / -1;
}
div.aboutContent {
    display:grid;
    grid-template-columns: inherit;
}
div.about img.headShot {
    grid-column: 3 / 6;
    height: auto;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid #000103;
}
div.about p.aboutInfo {
    grid-column:  7 / 12;
    align-self: center;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
    border: 3px solid #3E78B2;
    padding: 1em;
}

/* SKILLS */
div.skills {
    grid-column: 1 / -1;
    background-color: #F5F5F5;
}
div.skills h2 {
    grid-column: 1 / -1;
}
div.skills div.skillsContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto-fit);
    margin-bottom: 5em;
    grid-gap: 3.5em;
}
div.skills div.skillsContent i{
    font-size: 4.7em;
    color: black;
    width:auto;
    height:auto;
}
i.devicon-html5-plain-wordmark {
    grid-column: 3 / 4; 
}
i.devicon-css3-plain-wordmark {
    grid-column: 4 / 5;
}
i.devicon-csharp-plain-wordmark {
    grid-column: 5 / 6;
}
i.devicon-bootstrap-plain-wordmark {
    grid-column: 6 / 7;
}
i.devicon-gimp-plain {
    grid-column: 7 / 8;
}
i.devicon-git-plain {
    grid-column: 8 / 9;
}
i.devicon-heroku-original-wordmark {
    grid-column: 9 / 10;
}
i.devicon-javascript-plain {
    grid-column: 10 / 11;
}
i.devicon-jquery-plain-wordmark {
    grid-column: 4 / 5;
}
i.devicon-php-plain {
    grid-column: 5 / 6;
}
i.devicon-react-original-wordmark {
    grid-column: 6 / 7;
}
i.devicon-visualstudio-plain {
    grid-column: 7 / 8;
}
i.devicon-webpack-plain {
    grid-column: 8 / 9;
}
i.devicon-wordpress-plain {
    grid-column: 9 / 10;    
}

/* PORTFOLIO */
div.portfolio {
    grid-column: 1 / -1;
}
div.portfolioContent {
    display:grid;
    margin-bottom: 5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 2em;
    padding: 0 2em;
}
div.project {
    display:block;
    position: relative;
    width: 100%;
    height: auto;
}
div.project img{
    display: block;
    width: 100%;
    height: 100%;
}
#one {
    grid-column: 1 / 5;
}
#two {
    grid-column: 5 / 9;
}
#three {
    grid-column: 9 / 13;
}
#four {
    grid-column: 1 / 5;
}
#five {
    grid-column: 5 / 9;
}
#six {
    grid-column: 9 / 13;
}

div.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
}
div.project:hover .overlay {
    height: 100%;
}
div.projectInfo {
    color: black;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
div.projectInfo span {
    display: block;
    font-size: .6em;
}
/* CONTACT */
div.contact {
    grid-column: 1 / -1;
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: inherit;
}
div.contact h2 {
    grid-column: 1 / -1;
}
form {
    grid-column: 4 / 10;   
}
form input {
    width: 100%;
    font-size: 1.1em;
    margin-bottom: 1em;
    padding: .5em;
    box-sizing: border-box;
}
form textarea {
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 1em;
    padding: .5em;
    overflow: hidden;
    box-sizing: border-box;
}
form button {
    margin-bottom: 5em;
    font-size: 1.1em;
    margin: 0 auto 4em auto;
    display: block;
    padding: .6em .8em .6em .8em;
    background-color: #fff;
    border: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
}
form button:hover {
    background-color: #3E78B2;
    color:white;
    -webkit-transition: .4s;
    transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
}
/* FOOTER */
footer {
    grid-column: 1 / -1;
    text-align: center;
}